<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   </welcome-file-list>
   
   <!-- 모든 페이지에서 사용 가능한 전역 자원 ...
   		접근 : application.getInitParameter
     -->
   <context-param>
   		<description>여기에서는 설명하시면 개발자 마음</description>
   		<param-name>email</param-name>
   		<param-value>webmaster@bit.or.kr</param-value>
   </context-param>
   <context-param>
   			<description>전역 파일 저장 경로</description>
   			<param-name>FilePath</param-name>
   			<param-value>C:\\Web\\Download</param-value>   
   </context-param>
	<!--  
		WebAPP 전체 페이지에 대한 error 처리
		기준:
		1. 상태코드(500~ 서버코드 오류  , 404 ~ 요청 페이지 없는 것 ,  403 ~ 접근 권한 
		   상태코드(정상 200~299)
		2. 발생되는 예외 객체(세분화): NullPoint, indexOutBound
	-->
	<!-- 
       <error-page>
       		<error-code>500</error-code>
       		<location>/error/error500.jsp</location>
       </error-page>
       <error-page>
       		<error-code>404</error-code>
       		<location>/error/error404.jsp</location>
       </error-page>
        -->
</web-app>